@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

.my-float3 {
    padding: 15px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    position: fixed;
    width: 52px;
    height: 52px;
    bottom: 195px;
    right: 43px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
  
  .my-float3:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }